<table class="table table-hover">
	<thead>
		<tr>
	      <th></th>
	      <th>Average</th>
	      <th colspan="3"></th>
		</tr>
	</thead>
	
	<tbody>
		<% array.each do |e| %>
		   <tr>
		     <td><%= link_to e.name, e %></td>
		     <td><%= round e.average_rating || 0 %></td>
		   </tr>
    	<% end %>
	</tbody>
</table>
