
<h2>Listing of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %>    <%= link_to rating.user.username, rating.user%></li>
 <% end %>
</ul>


<%= link_to 'Create new', new_rating_path %>